__pycache__/
*.pyc
*.pyo
*.exe
*.log
.env
*.locked
*.tmp
*.bak
.backup_wiper/
lab_tmp/
archivos_minero/
.infection_marker
bot_config.json
logic_bomb_marker.json
miner_config.json
miner_stats.json
c2_config.json
shell_log.txt
persistence.reg
startup.bat
process_list.txt
sbom_report.json
requirements.txt
package.json
package-lock.json
keylog.log
dns_tunnel_log.txt
directorio_pruebas/
